.container {
  display: flex;
  align-items: flex-start; /* Align the content and sidebar to the top */
  padding: 20px;
}

.filterSidebar {
  width: 250px; /* Set a fixed width for the sidebar */
  margin-right: 20px; /* Add space between the sidebar and the main content */
}

.content {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.dealList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.dealCard {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  width: 250px; /* Adjust card width to your preference */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.dealCard:hover {
  transform: translateY(-5px);
}

.dealImage {
  width: 100%;
  height: 150px; /* Set a fixed height for the image */
  object-fit: cover; /* Ensure the image covers the area */
}

.dealInfo {
  padding: 15px;
}

.dealTitle, .title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

.dealPrice {
  color: #b12704;
  font-size: 1.2rem;
  margin: 10px 0;
}

.listPrice {
  text-decoration: line-through;
  color: #565959;
  font-size: 1rem;
  margin-left: 8px;
}

.savings {
  color: #007600;
  margin-bottom: 10px;
}

.dealLink {
  display: inline-block;
  padding: 10px 15px;
  background-color: #ffa41c;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.2s ease;
}

.dealLink:hover {
  background-color: #f90;
}

.addToCartButton {
  display: inline-block;
  padding: 5px 8px;
  background-color: #ffa41c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin: 5px;
}

.addToCartButton:hover {
  background-color: #f90;
}
@media screen and (max-width: 768px) {
  .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  
}