.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.carouselContainer {
  width: 100vw;
  position: relative;
  z-index: 0;
}

.cardsContainer {
  width: 100%;
  max-width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  position: relative;
  top: -40%;
  transform: translateY(-40%);
  z-index: 1;
}

.flightadvertisement {
  margin-top: -10%;
  padding: 2%;
}

.cardsContainer2 {
  width: 100%;
  max-width: 95vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  z-index: 1;
}

.recomContainer {
  width: 100%;
  padding-top: 20px;
}

@media screen and (max-width: 700px) {
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* Remove the red background color */
  }

  .cardsContainer {
    top: -3%;
    /* Reset the top position */
    transform: translateY(-3%);
    /* Reset the transform */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }

  .flightadvertisement {
    margin-top: 20px;
    padding: 2%;
  }

  .carouselContainer {
    width: 100vw;
    margin-bottom: 20px;
    /* Ensure spacing between carousel and cards */
  }
}