
.sidebar-open {
    transform: translateX(0);
  }
  
  .sidebar-closed {
    transform: translateX(-100%);
  }
  
  .transition-transform {
    transition: transform 0.3s ease-in-out;
  }
  

  @media screen and (max-width: 768px) {
    #Nav2{
      display: none;
    }
    
  }