.filterSidebar {
    width: 250px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
  }
  .clearAllButton {
    background-color: #ffa41c; /* Blue background color */
    color: #fff; /* White text color */
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px; /* Space below the button */
    width: 100%; /* Full width of the sidebar */
  }
  
  .clearAllButton:hover {
    background-color: #d4840d; /* Darker blue on hover */
  }
  .filterSection {
    margin-bottom: 20px;
  }
  
  .filterSection h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .filterSection label {
    display: block;
    margin-bottom: 8px;
    cursor: pointer;
  }
  
  .filterSection input[type="checkbox"],
  .filterSection input[type="radio"] {
    margin-right: 10px;
  }
  

  input[type="radio"] {
    margin-right: 8px;
  }
  
  input[type="radio"]:checked + label {
    color: blue;
    font-weight: bold; 
  }